{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

<aside class="donation" role="complementary">
  <h2 class="hr">블로그 후원</h2>

    블로그를 후원해주시거나 광고를 눌러주시면 블로그를 제작하는데 큰 힘이 됩니다!!
    <br></br>
    많은 관심 부탁드립니다 ㅠㅠ 
    <br></br>
    (후원버튼이 안보이실 경우 "새로고침"을 하면 버튼이 보입니다!)
    <br></br>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="kkol" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
</aside>

{% if author.about %}
  <aside class="author" role="complementary">
    {% include author.html author=author heading='About' heading_tag='h2' %}
  </aside>
{% endif %}
