{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

<aside class="donation" role="complementary">
  {% linkpreview "https://s.click.aliexpress.com/e/_DkXvbeZ" %}
  <h2 class="hr">블로그 응원</h2>

    <a href="https://mmol.tistory.com/" target="_blank"><strong>여기</strong></a>를 눌러서 블로그 내의 광고를 클릭해주시면 큰 도움이 됩니다! ㅠㅠ
    <br></br>
    많은 관심 부탁드립니다 ㅠㅠ 
</aside>

{% if author.about %}
  <aside class="author" role="complementary">
    {% include author.html author=author heading='About' heading_tag='h2' %}
  </aside>
{% endif %}
